$white: #fff;
$dark: #000;
$color-map: (
  bondi-blue: (
    accent-color: #00a8ad,
    secondary-color: #3e3f4a,
    bg-color: #282a36,
    text-color: $white,
  ),
  maximum-green-yellow: (
    accent-color: #cdf05d,
    secondary-color: #3e3f4a,
    bg-color: #282a36,
    text-color: $dark,
  ),
  indian-red: (
    accent-color: #db5463,
    secondary-color: #3e3f4a,
    bg-color: #282a36,
    text-color: $white,
  ),
  carrot-orange: (
    accent-color: #ef9528,
    secondary-color: #283b4a,
    bg-color: #102433,
    text-color: $white,
  ),
  saffron: (
    accent-color: #e9c12f,
    secondary-color: #3e3f4a,
    bg-color: #282a36,
    text-color: $white,
  ),
  inchworm: (
    accent-color: #99de5d,
    secondary-color: #282a36,
    bg-color: #201f1e,
    text-color: $dark,
  ),
  cadetblue: (
    accent-color: cadetblue,
    secondary-color: #3e3f4a,
    bg-color: #282a36,
    text-color: $white,
  ),
  blue-pink-gradient: (
    accent-color: #7c6ab9,
    secondary-color: #2c2b47,
    bg-color: #13122d,
    text-color: $white,
    accent-gradient-color:
      linear-gradient(
        90deg,
        rgba(108, 108, 244, 1) 0%,
        rgba(255, 107, 250, 1) 100%
      ),
  ),
  pearl-aqua: (
    accent-color: #7bd0c9,
    secondary-color: #2c2b47,
    bg-color: #13122d,
    text-color: $white,
  ),
);

@each $class, $colors in $color-map {
  .#{$class} {
    --accent-color: #{map-get($colors, accent-color)};
    --secondary-color: #{map-get($colors, secondary-color)};
    --bg-color: #{map-get($colors, bg-color)};
    --text-color: #{map-get($colors, text-color)};
    --accent-gradient-color: #{map-get($colors, accent-gradient-color)};
  }
  body:has(.#{$class}) {
    background: #{map-get($colors, bg-color)};
  }
}

html {
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
}
body {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 35px;
  color: #fff;
  background: #282a36;
  padding-bottom: 100px;
}
.navbar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
  z-index: 99;
  touch-action: none;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.08);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.navbar.closed {
  height: 50px;
}
.navbar.open {
  height: 250px;
}
.navbar ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
  height: 50px;
}
.navbar ul li {
  height: 100%;
  /*line-height: 50px;*/
  float: left;
  width: 33.3333%;
  transition: all 0.3s ease-in-out;
}
.navbar.open ul li {
  width: 100%;
}
/*.navbar ul li:first-child:nth-last-child(1) {*/
/*  width: 100%;*/
/*}*/
/*.navbar ul li:first-child:nth-last-child(2),*/
/*.navbar ul li:first-child:nth-last-child(2) ~ li {*/
/*  width: 50%;*/
/*}*/
/*.navbar ul li:first-child:nth-last-child(3),*/
/*.navbar ul li:first-child:nth-last-child(3) ~ li {*/
/*  width: 33.3333%;*/
/*}*/
@media only screen and (min-width: 600px) {
  .navbar ul li:first-child:nth-last-child(4),
  .navbar ul li:first-child:nth-last-child(4) ~ li {
    width: 25%;
  }
  .navbar ul li:first-child:nth-last-child(5),
  .navbar ul li:first-child:nth-last-child(5) ~ li {
    width: 20%;
  }
  .expenses-table td {
    min-width: 100px;
  }
}
.navbar ul li a {
  color: #607d8b;
  font-size: 35px;
  height: 100%;
  display: flex;
  align-items: center;
}
.navbar ul li a svg {
  margin: 0 auto;
}
.navbar ul li a:focus,
.navbar ul li a.active {
  color: var(--accent-color);
}

@media only screen and (max-width: 600px) {
  .navbar ul li a {
    font-size: 30px;
  }
  .filters {
    text-align: center !important;
    flex-direction: column;
  }
  .filters > *,
  .user-currency select {
    width: 100%;
  }
  .desktop-only {
    display: none;
  }
  th.sortable {
    min-width: 75px;
  }
  .action {
    font-size: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow:
      inset 2px 5px 15px -5px rgba(0, 0, 0, 0.5),
      inset 2px -5px 15px -5px rgba(0, 0, 0, 0.5);
    transition: all 0.15s ease-in-out;

    &.delete {
      justify-content: left;
      background: linear-gradient(
        90deg,
        rgba(255, 107, 250, 1) 0%,
        rgba(108, 108, 244, 1) 100%
      );
    }

    &.edit {
      justify-content: right;
      background: linear-gradient(
        90deg,
        rgba(108, 108, 244, 1) 0%,
        #7bd0c9 100%
      );
    }

    svg {
      padding: 0 20px;
      transition: all 0.2s ease-in-out;

      body.action-active & {
        fill: var(--bg-color);
      }
    }
  }
}

select,
input {
  background: var(--bg-color);
  color: #fff;
  border: 1px solid var(--accent-color);

  &::placeholder {
    color: #fff;
  }
}

.add-transaction {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}
.add-transaction input,
.add-transaction textarea,
.add-transaction select {
  background: var(--bg-color);
  border: none;
  min-height: 40px;
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid #6d7781;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  color: #ccc;
}
.add-transaction input:focus,
.add-transaction textarea:focus {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}
.add-transaction input::placeholder,
.add-transaction textarea::placeholder {
  color: #ccc;
  font-weight: bold;
}
input[type='submit'] {
  border-radius: 20px;
}
.add-transaction input[type='submit'] {
  border: none;
  background: var(--accent-color);
  color: #282a36;
}
.add-transaction input[type='date']::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.button {
  font-weight: bold;
  border: none;
  min-height: 40px;
  background: var(--accent-color);
  border-radius: 20px;
  color: #282a36;
  body:has(.has-gradient-accent) & {
    background: var(--accent-gradient-color);
    color: var(--bg-color);
  }
}
.button.wide {
  width: 80%;
}
.button.w-100 {
  width: 100%;
}
.add-transaction input[type='submit']:hover,
.button:hover {
  cursor: pointer;
}
.table-wrapper {
  overflow-x: auto;
  margin-top: 30px;
  padding: 0 15px;
}
.expenses-table {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

.expenses-table thead tr {
  //box-shadow: 0 19px 38px rgb(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%);
  background-color: var(--secondary-color);
}
.expenses-table th {
  padding: 0 5px;
  position: relative;
}
.expenses-table th.sortable:before,
.expenses-table th.sortable:after {
  border: 5px solid transparent;
  content: '';
  right: 5px;
  top: 50%;
  position: absolute;
}
.expenses-table th.sortable:before {
  border-bottom-color: var(--accent-color);
  margin-top: -10px;
}
.expenses-table th.sortable:after {
  border-top-color: var(--accent-color);
  margin-top: 2px;
}
.expenses-table th.sortable.ascending:after {
  border: none;
}
.expenses-table th.sortable.descending:before {
  border: none;
}
.expenses-table td {
  padding: 0 6px;
}
.expenses-table tr {
  height: 50px;
  background-color: var(--bg-color);
}
.expenses-table tr:nth-of-type(even) {
  background-color: var(--secondary-color);
}
.month-badge {
  margin-top: 20px;
  display: block;
  color: #282a36;
  padding: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: var(--accent-color);
  position: relative;
  body:has(.has-gradient-accent) & {
    background: var(--accent-gradient-color);
    color: var(--bg-color);
  }
}
.btn-outline {
  background: none;
  border: 1px solid var(--accent-color);
  border-radius: 20px;
  color: #fff;
  font-weight: bold;
  padding: 10px 25px;
}
button:hover {
  cursor: pointer;
}
.modal-window {
  position: fixed;
  background: rgb(62, 63, 74, 0.35);
  backdrop-filter: blur(10px);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  transition: all 0.3s;
}
.modal-window > div {
  max-width: 700px;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  background: var(--bg-color);
  border-radius: 20px;
}

.modal-close {
  color: #ccc;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: 10px;
  text-align: left;
  padding: 0 25px;

  > * {
    background: var(--bg-color);
    height: 40px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    min-width: 265px;
    border: 1px solid var(--accent-color);
    color: #fff;

    &::placeholder {
      color: #fff;
    }
  }
}
.user-settings {
  > * {
    height: 40px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    min-width: 265px;
    margin-top: 20px;
  }
}
.charts-page {
  padding: 0 25px;
  /*animation: fadeIn 0.4s;*/
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.load-more {
  margin: 40px 0;
}
.average-spending {
  margin-top: 25px;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  top: 50px;
  width: 110px;
  height: 110px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid var(--accent-color);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 50px;
    left: 50px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 50px;
    left: 50px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 50px;
    left: 50px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}
.charts-section {
  padding: 25px 0;
  border-bottom: 1px solid #e0e0e3;
}
.incomes-page .charts-section {
  padding: 25px 25px;
}
.incomes-page .charts-section .table-wrapper {
  padding: 0;
}
.charts-section .heading {
  color: #e0e0e3;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Unica One', sans-serif;
  display: block;
  margin: 20px 0;
}
.daily-average {
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
}
.daily-average td {
  padding: 15px 0;
  width: 50%;
  background: var(--secondary-color);
  border: 2px solid var(--bg-color);
}

.daily-average thead tr {
  //box-shadow: 0 19px 38px rgb(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%);
  background-color: var(--secondary-color);
}
.daily-average th {
  padding: 0 5px;
  position: relative;
}
.daily-average th.sortable:before,
.daily-average th.sortable:after {
  border: 5px solid transparent;
  content: '';
  right: 5px;
  top: 50%;
  position: absolute;
}
.daily-average th.sortable:before {
  border-bottom-color: var(--accent-color);
  margin-top: -10px;
}
.daily-average th.sortable:after {
  border-top-color: var(--accent-color);
  margin-top: 2px;
}
.daily-average th.sortable.ascending:after {
  border: none;
}
.daily-average th.sortable.descending:before {
  border: none;
}
.daily-average tr {
  height: 50px;
  background-color: var(--bg-color);
}
.daily-average tr:nth-of-type(even) {
  background-color: var(--secondary-color);
}

.user-avatar svg {
  width: 200px;
  height: 200px;
  stroke: #bdbdbd;
  stroke-width: 10px;
  fill: var(--bg-color);
}
.user-avatar.saved svg {
  animation: avatar-blink 2s ease 1;
}
@keyframes avatar-blink {
  0% {
    stroke: #bdbdbd;
  }
  50% {
    stroke: var(--accent-color);
  }
  100% {
    stroke: #bdbdbd;
  }
}
.user-page {
  max-width: 265px;
  margin: 0 auto;
}
.loader {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.loader__element {
  border-radius: 100%;
  border: 3px solid var(--text-color);
  margin: 10px;
}
.loader__element:nth-child(1) {
  animation: preloader 0.6s ease-in-out alternate infinite;
}
.loader__element:nth-child(2) {
  animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
}
.loader__element:nth-child(3) {
  animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
}
@keyframes preloader {
  100% {
    transform: scale(2);
  }
}

ul.suggestions {
  list-style: none;
  padding: 0;
}
ul.suggestions li {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 20px;
  background: var(--secondary-color);
  animation: bubble-up 0.3s;
}
ul.suggestions li:hover {
  cursor: pointer;
  background: #323440;
}
@keyframes bubble-up {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.notification {
  position: fixed;
  bottom: 55px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  padding: 10px;
  border-radius: 15px;
  z-index: 9999;
}
.notification.success {
  background-color: var(--accent-color);
}
.notification.error {
  background-color: #f13636;
}

li.selected-suggestion {
  border: 1px solid var(--accent-color);
}

.pager-navigation {
  position: fixed;
  bottom: 51px;
  width: 100%;
  height: 50px;

  button {
    width: 50%;
    height: 100%;
    background: transparent;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.08);
    border: none;

    &:first-child {
      border-right: 2px solid var(--bg-color);
    }

    &:disabled {
      svg {
        fill: rgba(255, 255, 255, 0.1);
      }
    }

    svg {
      width: 25px;
      height: auto;
      fill: var(--accent-color);
    }
  }
}

.month-stats {
  margin-top: 30px;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-around;

  > div {
    width: 150px;
    height: 150px;
    border: 5px solid var(--accent-color);
    border-radius: 50%;
    position: relative;
    background: var(--bg-color);

    .stats-container {
      width: 100%;
      height: 100%;
      border-radius: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;

      > * {
        z-index: 10;
      }

      &.has-budget:after {
        content: '';
        position: absolute;
        top: var(--budget-progress, 100%);
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(
          0deg,
          var(--bg-color) 0%,
          var(--accent-color) 100%
        );
        opacity: 0.7;
        transform: translateY(100%);
        animation: riseUp 0.7s forwards;
        transition: all ease-in-out 0.7s;
      }
    }

    h3 {
      margin-top: 0;
      margin-bottom: 10px;
    }

    body:has(.has-gradient-accent) & {
      border: none;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -5px;
        border-radius: inherit;
        background: var(--accent-gradient-color);

        @media only screen and (max-width: 600px) {
          margin: -4px;
        }
      }
    }

    @media only screen and (max-width: 600px) {
      width: 100px;
      height: 100px;
      border: 4px solid var(--accent-color);
      &:before {
        margin: -4px;
      }
    }
  }
}

@keyframes riseUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
